body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   line-height: 1.6;
   color: #333;
}

*,
*::before,
*::after {
box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 35px 0;

    border: 0;
    background-color: #423d3d;
}

/* Container */
.container {
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
    background: url("../images/123.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro__title::after{
    content: "";
    display: block;
    width: 350px;
    height: 2px;
    margin: 30px auto 30px;
    background-color: #fce38a;
}

.intro__suptitle {
    margin-bottom: 15px;
    font-family: 'Kaushan Script';
    font-size: 50px;
    color: #fce38a;
    text-align: center;  
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/*Nav*/

.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: #fff;
    text-decoration: none;
    
    transition: color 0.1s linear;
}
.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: #603ef8;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;

}
.nav__link:hover {
    color: #fce38a;
}
.nav__link:hover::after {
    opacity: 1;
}

/*Button*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 2px 5px;

    border: 2px solid #fff;

    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: 0.3s linear, color 0.3s;
}

.btn:hover {
    background-color: #603ef8;
    color: #fce38a;
}

/*Slider*/
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slaider__inner {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 15%;
    padding: 10px 0;
    position: relative;

    border-top: 2px solid #fce38a;
    opacity: 0.9;
    
    text-transform: uppercase;
    font-size: 14px;
}

.slider__item.active {
    opacity: 1;
}
.slider__item.active::before {
    content: "";
    display: block;
    width: 70px;
    height: 2px;

    background-color: red;

    position: absolute;
    top: -2px;
    left: 110px;
    z-index: 1;
    
}

.slider__num {
    font-size: 18px;
    font-weight: 700;
}

/*УРОК 2*/
/*Section*/
.section {
    padding: 30px 0;
    background-color: #c2fdff;

}

.section__heder {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;

    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script';
    font-size: 20px;
    color: #000000;  
}

.section__title {
    font-size: 25px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}

.section__title::after {
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    margin: 10px auto 10px;
    background-color: #603ef8;
}

.section__text {
    font-size: 14px;
    color: #999;
}


/*About*/
.about {
    margin: 0 200px 50px;
    display: flex;
    justify-content: space-between;

}

.about__item {
    width: 240px;
    background-color: rgb(162, 204, 204);
    position: relative;
}

.about__item:hover .about__img {
    transform: translate3d(-7px, -7px, 0);
}

.about__item:hover .about__img img {
    opacity: .1;
}

.about__item:hover .about__tex {
    opacity: 1;
}


.about__img {
    background: linear-gradient(to bottom,
    #f38181, #fce38a);
    transition: transform .2s linear;
}

.about__img img {
    display: block;
    transition: opacity .1s linear;
}

.about__tex {
    width: 100%;

    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .1s linear;
}


/* Statistics */

.statistics {
    background-color: #fce38a;   
}

.stat {
    display: flex;
}

.stat__item {
    flex: 1 1 0;
    padding: 40px;

    border-left: 1px solid coral;

    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid coral;
}

.stat__count {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}
.stat__text {
    font-size: 20;
    text-transform: uppercase;
}


/*УРОК 3*/
/*Services*/
.services {
    display: flex;
}

.services__item {
    flex: 1 1 0;
    padding-left: 90px;
    position: relative;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;
    font-size: 10px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 12px;
    color: #999;
}































